<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <title>Scopes - Job Application Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cssanimation.rocks/demo/wwdc15/stylesheets/screen.css">
  </head>

<body>
<article class="wwdc15">
<span class="large-circles">

<div class="large circle one"></div>
<div class="large circle two"></div>
<div class="large circle three"></div>
<div class="large circle four"></div>
<div class="large circle five"></div>
<div class="large circle six"></div>
<div class="large circle seven"></div>
<div class="large circle eight"></div>
</span>
<span class="small-shapes">

<div class="small circle one"></div>
<div class="small squircle two"></div>
<div class="small circle three"></div>
<div class="small squircle four"></div>
<div class="small circle five"></div>
<div class="small squircle six"></div>
<div class="small circle seven"></div>
<div class="small squircle eight"></div>
</span>

<span class="content-squircle">
<div class="large squircle one"></div>
</span>
<div class="large squircle two">
<div class="content">
<svg viewBox="0 0 300 80" xmlns="http://www.w3.org/2000/svg">

</svg>
<h1><strong>Scopes</strong></h1>

<h4>Job Application Tracker</h4>

<br>

<%= link_to 'Log In'.html_safe, "/login", class: 'btn btn-outline-primary' %> 

</div>
</div>
</article>
  <link rel="stylesheet" media="screen" href="/assets/footer.debug-746c65dda35bca7eef2b33f20135c187ec66523d8646e31a72a991d37b399ef3.css">
<div class="sticky-bottom">
</div>
</body>
</html>