<div id="job-show-page-container" class="container-fluid" style="border:10px solid white;">
    <div class="row" style="border: 8px solid black; border-radius: 10px;">
        <div class="col-8" style="border: 10px solid white;">
            <h2>Job Title: <%= @job.role %></h2>
            <br>
            <h2>Company: <%= @job.company.name %></h2>
            <br>
            <h2>Status: <%= @job.status %></h2>
            <br>
            <h2>Location: <%= @job.location %></h2>
        </div>
    </div>
</div>