    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login">Login </a>
        <a class="nav-item nav-link" href="/pages/analytics">Analytics</a>
        <a class="nav-item nav-link" href="/users/:id">User Info</a>
      </div> 
    </nav>

<div class="container">
  <h1>Welcome to Bootstrap 4</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,  
     distinctio perspiciatis, fuga minus facilis ea quae qui laborum 
     cupiditate accusamus.
  </p>
  <button class="btn btn-primary">Button</button>

    <%= link_to 'Signup', '/signup', class: 'btn btn-outline-primary' %>

</div>